@{
    Layout = "~/Layout.cshtml";
    Page.Title = "Home";
}
<div class="mainbody">
    <h2>Welcome, what would you like to do?</h2>
    <a href="~/addQuote.cshtml" class="button">Create a Quote</a>
    <a href="~/viewAll.cshtml" class="button">View all Quotes</a>
    <a href="~/searchQuote.cshtml" class="button">Search Quotes</a>
</div>