@{
    Layout = "~/Layout.cshtml";
    Page.Title = "Home";
}
<h2>Scriptures</h2>

<h2>Welcome, what would you like to do?</h2>
<a href="~/addQuote.cshtml">Create a Quote</a>
<a href="~/viewAll.cshtml">View all Quotes</a>
<a href="~/searchQuote.cshtml">Search Quotes</a>

