@{
    Layout = "~/Layout.cshtml";
    Page.Title = "View All";

    var db = Database.Open("MegaDesk");
    var selectData = "SELECT * FROM quotes";
    var data = db.Query(selectData);
    var grid = new WebGrid(source: data, defaultSort: "Name", rowsPerPage: 10);
}

<h2>View All Quotes</h2>
<div class="viewbody">
    @grid.GetHtml(
                    tableStyle: "grid",
                    headerStyle: "head",
                    columns: grid.Columns(
                        grid.Column(format:@<a href="~/editQuote?id=@item.ID"><img src="~/Styles/edit.png" id="changebutton" /></a>),
                                                        grid.Column("Id", canSort: false),
                                                        grid.Column("Name", canSort: true),
                                                        grid.Column("Date", canSort: true),
                                                        grid.Column("Width", canSort: false),
                                                        grid.Column("Depth", canSort: false),
                                                        grid.Column("Drawers", canSort: false),
                                                        grid.Column("Material", canSort: false),
                                                        grid.Column("Rush", canSort: true),
                                                        grid.Column("Total", canSort: true),
                                                        grid.Column(format: @<a href="~/deleteQuote?id=@item.ID"><img src="~/Styles/delete.png" id="changebutton"/></a>)
                                                                                                          ),
                                                                                    footerStyle: "links"
                                                                                                  )
</div>
